.index-company{
  display: flex;
  align-items: center;
  background-color: #1100ff;
  height: 224px;
  .slick-track{
    display: flex;
    align-items: center;
  }
    //  /* the slides */
    //  .slick-slide {
    //   margin: 0 30px;
      
    // }
    // /* the parent */
    // .slick-list {
    //   margin: 0 -30px;
    // }
}