// variables
$width-max: 1200px;


//color
$color-primary: #69574b;
$color-second: #791a0a;
$color-pointer: #ff6600;
$color-title: #6d584a;
$color-title-line: #d3c5b6;
$color-red: #c41c00;
$color-black: #000;
$color-brown: #38281d;
$color-see-more: #b8a497;
$color-white: #fff;
$color-count: #891603;
$color-see-more: #6d584a;
$color-navbar: #593b2a;
$color-info-bar: #971600;
$color-copyright: #8d7261;
$color-copyright-info: #b09d8f;
$color-go-top: #908782;
$color-gotopbg: #d6d0cc;
$color-information: #7a340b;

$color-bg: #fffaf3;
$color-bg-notice: #ffeed5;
$color-bg-list1: #f4ebde;
$color-bg-list2: #f3eee7;
$color-border-notice: #d3c5b6;
$color-border-nav: #761404;
$color-border-control: #e3dbd1;
$color-border-panel: #d8b4ab;
$color-border-panel1: #f8ebe7;
$color-bg-login-btn: #eee;
$color-bg-footer: #e5dbd0;


//font-size
$font-titile: 22px;
$font-medium: 18px;
$font-normal: 16px;
$font-small: 14px;


//padding-size
$padding-large: 40px;
$padding-medium: 24px;
$padding-small: 12px;

//margin-size
$margin-large: 45px;
$margin-medium: 20px;
$margin-small: 16px;


//border-radius
$border-radius-small: 10px;


